version: '3.8'

services:
  mysql:
    image: mysql:latest
    container_name: mysql-server
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}  # Definimos la contraseña del usuario root
      MYSQL_DATABASE: ${DB_NAME}          # Creamos la base de datos especificada
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - app-network

  web:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: flask-app
    ports:
      - "5000:5000"
    depends_on:
      - mysql
    command: bash -c "wait-for-it.sh mysql-server:3306 --timeout=180 -- sh -c 'python create_database.py  && flask run --host=0.0.0.0'"
    environment:
      FLASK_ENV: development
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_HOST: ${DB_HOST}  # Asegúrate de usar el nombre del servicio como host
      DB_PORT: 3306
    volumes:
      - .:/app
      - ./static:/app/static
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mysql_data:
